<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Resources</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}">
    <link rel="stylesheet" href="../static/education.css">
</head>
<body>
    <header>
        <h1>Education Resources</h1>
        <nav>
            <ul>
                <li><a href="/templates/index.html">Home</a></li>
                <li><a href="/templates/food.html">Food</a></li>
                <li><a href="/templates/education.html">Education</a></li>
                <li><a href="/templates/mental_health.html">Mental Health</a></li>
                
              
            </ul>
        </nav>
    </header>

    <section>
        <h2>Educational Links</h2>
        <p>Explore these educational resources at CUNY to enhance your knowledge:</p>
        <ul>
            <li><a href="https://www.cuny.edu/employment/student-jobs/internships/cuny-internship-programs/">Cuny Internship program</a> - Internship opportunities with govt agencies.</li>
            <li><a href="https://www.cuny.edu/libraries/">CUNY Library</a> -Cuny libraries have free access to thousands of books and journals</li>
            <li><a href="https://www.cuny.edu/academics/current-initiatives/k16/tutor-corps/">CUNY tutor Corps</a> - Free course help from CUNY students and teachers</li>
            <li><a href="https://www.cuny.edu/research/research-facilities/">CUNY Research Facilities</a> - Research options for CUNY students</li>
        </ul>
    </section>

    <section>
        <h2>Library Resources</h2>
        <p>Access a variety of digital library resources for CUNY students:</p>
        <ul>
            <li><a href="https://www.google.com/books">Google Books</a> - Search the full text of books.</li>
            <li><a href="https://www.jstor.org">JSTOR</a> - Digital library for scholars, researchers, and students.</li>
        </ul>
    </section>

    <footer>
        <p>&copy; CTP Hack GoGoCoders</p>
    </footer>
</body>
</html>
